head
   include head.jade
   style.
      td,th {
         padding: 0.5em;
      }
body
   div.container-fluid
      div.row(style='margin-top:2em;')
         div.col-md-8.col-md-offset-2
            div.row
               table.col-md-12
                  tr
                     th Trigger Description
                     th Statistics
                  each trigger in triggers
                     tr(style="background:#FFF")
                        td
                           h4 #{trigger.title}
                           pre(style="background:#DDD") #{trigger.expression}
                        td
                           | -
